body{
    background-color: cyan;
}
.responsiveImage{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
h1{
    text-align: center;
    font-size: 31px;
    font-family:'Trebuchet MS';
}
button{
    margin-left: 15px;
    width: 8vw;
    height: 8vw;
    font-family:'Trebuchet MS';
    font-size: 10px;
    color: black;
    cursor: pointer;
    padding: 0;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
}
#roundedDivider {  
    border-top: 1px solid #000000;
    border-color: black;
    border-radius: 5px;
}
#resetButton{
    width: 14vw;
    height: 4vw;
    font-family:'Trebuchet MS';
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    border: 2px solid rgba(123, 0, 200, 0.6);
    color: rgb(0, 3, 100);
    box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}

#row2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
#row3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
#row4{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
#row5{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
#row6{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
#scoreContainer
{
    font-family: Trebuchet MS;
    font-size: 30px;
    font-weight: bold;
    margin-right: 300px;
}


